<?xml version="1.0"?>
<robot name="qube_servo2_motor"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Utilities -->
  <xacro:include filename="$(find qube_servo2_description)/urdf/qube_utils.xacro"/>

  <!-- Load physical & visual parameters -->
  <xacro:arg name="physical_config_file" default="$(find qube_servo2_description)/config/qube_servo2_motor_params.yaml"/>
  <xacro:property name="P" value="${xacro.load_yaml('$(arg physical_config_file)')['qube_servo2_motor']}"/>
  <xacro:property name="J" value="${P['joints']}"/>

  <!-- Mesh files -->
  <xacro:property name="visual_mesh_dir" value="package://qube_servo2_description/urdf/meshes/visuals"/>
  <xacro:property name="collision_mesh_dir" value="package://qube_servo2_description/urdf/meshes/collisions"/>

  <!-- Base link -->
  <xacro:qube_link link_name="base_link" config="${P['base_link']}" visual_mesh_dir="${visual_mesh_dir}" collision_mesh_dir="${collision_mesh_dir}">

    <!-- Quanser logo -->
    <extra_visuals>
      <visual name="quanser_logo_visual">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="${visual_mesh_dir}/quanser_logo.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </visual>
    </extra_visuals>

  </xacro:qube_link>

  <!-- Motor hub link -->
  <xacro:qube_link link_name="motor_hub_link" config="${P['motor_hub_link']}" visual_mesh_dir="${visual_mesh_dir}" collision_mesh_dir="${collision_mesh_dir}">
    <extra_visuals/>
  </xacro:qube_link>

  <!-- Disk link -->
  <xacro:qube_link link_name="disk_link" config="${P['disk_link']}" visual_mesh_dir="${visual_mesh_dir}" collision_mesh_dir="${collision_mesh_dir}">
    <extra_visuals/>
  </xacro:qube_link>

  <!-- Motor joint -->
  <xacro:qube_joint joint_name="motor_hub_link_joint" config="${J['motor_hub_link_joint']}"/>

  <!-- Disk joint -->
  <xacro:qube_joint joint_name="disk_link_joint" config="${J['disk_link_joint']}"/>

</robot>